include insta-card.pug

//- Gallery container
.container.gallery.border-pink

  .row.gallery.border-yellow
    each insta in instaCards
      .col.gallery.d-flex.justify-content-center.border-orange
        +instaCard(insta)
