include card.pug

.container.gallery
  .row.gallery.justify-content-center.g-3
    each cardData in demoCards
      +card(cardData.title, cardData.text, cardData.imageUrl, cardData.buttonUrl, cardData.buttonText)
