extends layout
block content
  .container
    .row
      each post in posts
        .col-md-4.mb-4
          - var title = post.title
          - var text = post.excerpt || ''
          - var imageUrl = post.imageUrl || 'https://imageslot.com/v1/1080x1080?bg=ff6347&fg=ffffff&text=Your+Custom+Text&filetype=png'
          - var buttonUrl = '/blog/' + post.postId
          - var buttonText = 'Read More'
          include partials/card
