extends layout
block content
    .row.g-0.p-0.p-md-5
      .col-12.col-md-8
        form(action='/contact', method='POST')
          .mb-3
            label.form-label(for='name') Name
            input.form-control(type='text', name='name', required)
          .mb-3
            label.form-label(for='email') Email
            input.form-control(type='email', name='email', required)
          .mb-3
            label.form-label(for='message') Message
            textarea.form-control(name='message', rows='5', required)
          button.btn.btn-primary(type='submit') Send
      .col-12.col-md-4.d-flex.justify-content-center.align-items-center
        img(src="/img/contact-us.png", alt=title, style="max-width: 100%; height: auto; object-fit: cover;")
