extends layout

block content
  p Welcome to the #{title} 
  .container.mt-5
    h4 Send us your stories...
    form(action='/contact', method='POST')
      .mb-3
        label.form-label(for='name') Name
        input.form-control(type='text', name='name', required)
      .mb-3
        label.form-label(for='email') Email
        input.form-control(type='email', name='email', required)
      .mb-3
        label.form-label(for='message') Message
        textarea.form-control(name='message', rows='5', required)
      button.btn.btn-primary(type='submit') Send