extends layout

block content
  .row.d-flex.justify-content-center.border-orange
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
      