extends layout

block content
  .container.border-blue.w-100.p-md-5
   .row.d-flex.border-orange
    .col-md-7.col-12.border-yellow 
        .row.d-flex.border-purple
          .col-12.d-flex.align-items-start.justify-content-start.border-pink(style="" )
            h2='Advocacy'
          .col-12.d-flex.align-items-start.justify-content-start.border-green(style="" )
            h2='Humor'
          .col-12.d-flex.align-items-start.justify-content-start.border-green(style="" )
            h2='Strategy'
          .col-12.d-flex.align-items-start.justify-content-start.border-aqua(style="" )
            h2='Special Projects'
    .col-12.col-md-5.d-flex.align-items-center.justify-content-center.border-blue(style="")
      img(src="/img/white-protest.png", alt="Well I guess we'll have to do it ourselves motto poster" style="").img-fluid
      //-img(src="/img/cta-white.png", alt="Well I guess we'll have to do it ourselves motto poster" style="object-fit: contain;")
