extends layout

block content
  // Top row of stars
  .row.d-flex.justify-content-center.border-orange
    each _ in [1,2,3,4,5,6,7,8]
      .col-1.d-flex.align-items-center.justify-content-center.mynerve-regular(style="height: 80px;" class="h-md-200")
        h1 *

  // Center message
  .row.d-flex.justify-content-center.border-pink
    .col-12.d-flex.align-items-center.justify-content-center.mynerve-regular(style="height: 110px;" class="h-md-200")
      h1 Are we all going mad!!!

  // Bottom row of stars
  .row.d-flex.justify-content-center.border-purple
    each _ in [1,2,3,4,5,6,7,8]
      .col-1.d-flex.align-items-center.justify-content-center.mynerve-regular(style="height: 70px;" class="h-md-200")
        h1 *
  
  
  // Text area cream with black writing
  .row.d-flex.justify-content-center.border-orange 
      .col-6.text-center.px-2.py-5.nunito-sans-pt
        p.fs-3 Hopefully not all of us.. 
        p.fs-3.lh-lg Anyways, in case you were wondering, the title is a mash-up of two ideas: the oft-used phrase by states that claim to be governed in the interests of the common people, and the “Paperclip Maximizer” — a thought experiment by philosopher Nick Bostrom that asks: What if Artificial Intelligence rose to power and decided that maximising the production of paperclips should take priority over everything else? The People's Republic of Paperclips is a nonpartisan — though unapologetically biased — thought dump by people interested in the ethics, effectiveness, and accountability of governments, interest groups, and business.
  .row.d-flex.justify-content-center.border-purple
      .col-5.d-flex.align-items-center.justify-content-center.nunito-sans-pt.border-blue.m-0.m-md-0
        p.fs-1.mynerve-regular.p-1 * * * * *
        p.fs-3 We’re not experts in any of those fields, and that should be said up front. We’re just a few like-minded common people who think too much.
        p.fs-1.mynerve-regular.p-1 * * * * *
      .col-5.d-flex.align-items-center.justify-content-center.nunito-sans-pt.border-grey.m-5.m-md-0
        p.fs-1.mynerve-regular.p-1 * * * * *
        p.fs-3 This is a living, breathing document — one that will likely skew toward Australian politics, big business, and the perils (and possibilities) of technology.
        p.fs-1.mynerve-regular.p-1 * * * * *
  .row.d-flex.justify-content-center.border-pink 
      .col-3.d-flex.text-center.justify-content-center.mynerve-regular
        p.fs-1 * * * * *
