extends layout

block content
  .row.d-flex.justify-content-center.border-orange
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
  .row.d-flex.justify-content-center.border-orange
    .col-16.d-flex.justify-content-center.mynerve-regular 
      h1 Are we all going mad!!!
  .row.d-flex.justify-content-center.border-orange
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
    .col-1.d-flex.justify-content-center.mynerve-regular 
      h1 *
      