extends layout

block content
  .container.border-blue.w-100.p-5
   .row.d-flex.border-orange
    .col-8.border-yellow 
        .row.d-flex.border-purple
          .col-12.d-flex.align-items-start.justify-content-start.border-pink(style="" )
            h2='Advocacy'
          .col-12.d-flex.align-items-start.justify-content-start.border-green(style="" )
            h2='Humor'
          .col-12.d-flex.align-items-start.justify-content-start.border-green(style="" )
            h2='Strategy'
    .col-4.d-flex.border-blue(style="height: 300px;")
