doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    body(data-bs-theme="dark")
      include partials/top-nav
      .container.py-5.text-light
      h1 Dark Themed Bootstrap Page
      block content
