extends layout
block content
  article
    if post.date
      small.text-muted Published on #{post.date}
    p !{post.content}  // this renders raw HTML (see markdown section below)
    hr
    a(href="/blog") ← Back to blog